<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.DB_SOUDAConnectionString"
            connectionString="Data Source=LAPTOP-1VSR19D4\SQLEXPRESS;Initial Catalog=DB_SOUDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>