@{
    ViewBag.Title = "Matricula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active ">  Matricula </li>
</ol>



<div class="card">
    <div class="card-header">
        <i class="fas fa-user "> </i>  <h3>Registro de Matricula </h3>
        <button type="button" class="btn btn-info" style='font-size:20px' onclick="ModalVideo(1)">Ayuda en LESCO  <i class='fas fa-american-sign-language-interpreting'></i></button>


    </div>
    <div class="card-body">
       

        <hr />
        <table id="Tablamatricula" class="display cell-boarder " style="width: auto ">

            <thead>
                <tr>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Numero de matricula</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Sede</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Cedula Estudiante</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Nombre Estudiante</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Curso Matriculado</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Fecha inicio Curso</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Profesor curso</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Encargado de Familia</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Agente </th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Fecha de Matricula</th>


                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1"></th>


                </tr>

            </thead>
            <tbody>
            </tbody>


        </table>

    </div>
</div>


<!-- Modal VID 08 inicio -->
<div class="modal fade" id="FormModalES" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel"> Registro Estudiante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <input id="Control" type="hidden" value="0" />

                <div class="row g-2">

                    <div class="col-sm-6">
                        <label for="txtCedula" class="form-label">Cedula</label>
                        <input type="number" class="form-control" id="txtCedula" placeholder="112345678" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtnombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="txtnombre" placeholder="Nombre" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtapellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="txtapellido" placeholder="Apellido" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtnumero" class="form-label">Telefono</label>
                        <input type="number" class="form-control" id="txtnumero" placeholder="2222-2222" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="txtcorreo" placeholder="Jose@correo.com" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtprovincia" class="form-label">Provincia</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="txtprovincia" placeholder="Seleccione una Opcion">

                            <option value="San Jose">San Jose</option>
                            <option value="Heredia">Heredia</option>
                            <option value="Cartago">Cartago</option>
                            <option value="Alajuela">Alajuela</option>
                            <option value="Limon">Limon</option>
                            <option value="Guanacaste">Guanacaste</option>
                            <option value="Puntarenas">Puntarenas</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtfechain" class="form-label">Fecha Ingreso</label>
                        <input type="date" class="form-control" id="txtfechain" placeholder="Mes/Dia/Año">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtfechana" class="form-label">Fecha Nacimiento</label>
                        <input type="date" class="form-control" id="txtfechana" placeholder="Mes/Dia/Año">
                    </div>


                    <div class="col-sm-6">
                        <label for="txtsexo" class="form-label">Sexo</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="txtsexo" placeholder="Seleccione una Opcion">
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtdiscapacidad" class="form-label">Discapacidad</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="txtdiscapacidad" placeholder="Seleccione una Opcion">

                            <option value="Sin Discapacidad Auditiva">Sin Discapacidad Auditiva</option>
                            <option value="Hipoacusia">Hipoacusia</option>
                            <option value="Sordera Profunda">Sordera Profunda</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcedulaencarg" class="form-label">Cedula Encargado</label>
                        <input type="number" class="form-control" id="txtcedulaencarg" placeholder="112345678">
                    </div>


                </div>

                <div class="row mt-2">
                    <div class="col-12">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>




@*MODAL DEL VIDEOS DE AYUDA*@
<!-- Modal -->
<div class="modal fade modal-lg" id="ModalVideo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Video Ayuda En Lesco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="text" class="form-control" id="tipovideo" hidden>

            </div>

            <div class="row">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/ug40buaIKGY?si=s3yU_GIu06VhEXXc&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>





            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
























@section scripts{
    <script>

        var tabladata;
        var filaseleccionada;

     $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Listarmatricula","Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                console.log(data)
            }
        })
    });

        tabladata = $("#Tablamatricula").DataTable({

            Responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("Listarmatricula", "Home")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "MA_Transac" },
                { "data": "MA_SEDE" },
                { "data": "MA_CedulaES" },
                { "data": "ES_Nombre" },
                { "data": "CU_Nombre" },
                { "data": "CU_FechaInicio" },
                { "data": "PR_Nombre" },
                { "data": "PF_Nombre" },
                { "data": "US_Nombre" },
                { "data": "MA_Fecha" },

                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "Orderable": false,
                    "Searchable": false,
                    "width":"90px"

                }
                @*Para hacer botonoes min 22 VID 07*@



            ],
            "language": { "url":"//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json" }



        });

        function abrirModal(json) { @*Abre modal *@


            $("#Control").val(0); // Control para crear usuario nuevo

            $("#txtCedula").val("");
            $("#txtnombre").val("");
            $("#txtapellido").val("");
            $("#txtnumero").val("");
            $("#txtcorreo").val("");
            $("#txtprovincia").val("");
            $("#txtfechain").val("");
            $("#txtfechana").val("");
            $("#txtsexo").val("");
            $("#txtdiscapacidad").val("");
            $("#txtcedulaencarg").val("");
            $("#mensajeError").hide();



            if (json != null) {


                $("#Control").val(1) //Control para actualizar usuario
                $("#txtCedula").val(json.ES_CedulaES)
                $("#txtnombre").val(json.ES_Nombre)
                $("#txtapellido").val(json.ES_Apellido)
                $("#txtnumero").val(json.ES_Telefono)
                $("#txtcorreo").val(json.ES_Correo)
                $("#txtprovincia").val(json.ES_Provincia == (json.ES_Provincia) ? (json.ES_Provincia) : null)
                $("#txtfechain").val(json.ES_FechaIngreso)
                $("#txtfechana").val(json.ES_FechaNacim == (json.ES_FechaNacim) ? (json.ES_FechaNacim) : null)
                $("#txtsexo").val(json.ES_SEXO == (json.ES_SEXO) ? (json.ES_SEXO) : null)
                $("#txtdiscapacidad").val(json.ES_Discap == (json.ES_Discap) ? (json.ES_Discap) : null)
                $("#txtcedulaencarg").val(json.ES_PadreCed)



            }

            $("#FormModalES").modal("show");


        }

        $("#Tablamatricula tbody").on("click", '.btn-editar', function () { // editar

           // alert("hola")

            filaseleccionada = $(this).closest("tr");  //trae los datos de la fila para el Update Video07 final
           var data= tabladata.row(filaseleccionada).data();
           // console.log(tabladata.row(filaseleccionada).data()); // ve la data en consola

            console.log(data)


            abrirModal(data)



        })


        $("#Tablamatricula tbody").on("click", '.btn-eliminar', function () { // elimina

            // alert("hola")

            var UsuarioSeleccionado = $(this).closest("tr");


            var data = tabladata.row(UsuarioSeleccionado).data();

            swal({
                title: "Esta Seguro?",
                text: "¿Desea Eliminar el Estudiante?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Si, Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            },
                function () {

                    jQuery.ajax({ // video 11 min8
                        url: '@Url.Action("Eliminarestudiante", "Home")',
                        type: "POST",
                        data: JSON.stringify({ id: data.ES_CedulaES }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {

                                tabladata.row(UsuarioSeleccionado).remove().draw();
                                swal("Eliminado", "El Estudiante seleccionado a sido eliminado", "success");
                            } else {

                                swal("No se pudo eliminar", data.mensaje, "error");

                            }
                        },
                        error: function (error) {

                        },



                    });



                });

            console.log(data);

        })



        function Guardar() { // Guarda en la base de Datos


            var Estudiante = {


                Control: $("#Control").val(),
                ES_Apellido: $("#txtapellido").val(),
                ES_CedulaES: $("#txtCedula").val(),
                ES_Correo: $("#txtcorreo").val(),
                ES_Discap: $("#txtdiscapacidad").val(),
                ES_FechaIngreso: $("#txtfechain").val(),
                ES_FechaNacim: $("#txtfechana").val(),
                ES_Nombre: $("#txtnombre").val(),
                ES_PadreCed: $("#txtcedulaencarg").val(),
                ES_Provincia: $("#txtprovincia").val(),
                ES_SEXO: $("#txtsexo").val(),
                ES_Telefono: $("#txtnumero").val()


            }
            debugger;
           jQuery.ajax({ // video 11 min8
               url: '@Url.Action("Guardarmatricula", "Home")',
               type: "POST",
               data: JSON.stringify({ objeto : Matricula }),
               dataType: "json",
               contentType: "application/json; charset=utf-8",
               success: function (data) {

                   debugger;
                   $('.modal-body').LoadingOverlay("hide");


                   // USUARIO NUEVO
                   if (Matricula.Control == 0) { // esta creando nuevo =0 y actualizando =1

                        alert("Creando")
                        if (data.resultado != 0) {

                            Matricula.Control = data.resultado;
                            tabladata.row.add(Matricula).draw(false);
                            $("#FormModalES").modal("hide");


                        } else if (data.mensaje == "No se puede convertir un objeto DBNull en otros tipos.") {
                            Matricula.Control = data.resultado;
                            tabladata.row.add(Matricula).draw(false);
                            $("#FormModalES").modal("hide");


                        }else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }



                        // USUARIO Actualizar/ editar
                    } else {
                        alert("Actualizando")

                        if (data.resultado) {

                            tabladata.row(filaseleccionada).data(Matricula).draw(false);
                            filaseleccionada = null;
                            $("#FormModalES").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();

                        }
                    }

                },
               error: function (error) {
                   $('.modal-body').LoadingOverlay("hide");
                   console.log(data)
                   $("#mensajeError").text("Error ajax");
                   $("#mensajeError").show();
               },


               beforeSend: function () {
                   $('.modal-body').LoadingOverlay("show", { imageResizeFactor: 2, text:"Cargando...",size:14 })


               }

            });

        }

        function ModalVideo(opcion) {



            $("#ModalVideo").modal("show");

        }



// ID USUARIO MIN 10 VIDEO 09
    </script>
}
