
@{
    ViewBag.Title = "UsuarioXMatricula";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active ">  Busqueda Usuario X Matricula </li>
</ol>



<div class="card">
    <div class="card-header">
        <i class="fas fa-user "> </i>  <h3>Busqueda Usuario X Matricula </h3>
        <button type="button" class="btn btn-info" style='font-size:20px' onclick="ModalVideo(1)">Ayuda en LESCO  <i class='fas fa-american-sign-language-interpreting'></i></button>

    </div>
    

        <hr />
        <table id="TablaUsuario" class="display cell-boarder " style="width: auto ">

            <thead>
                <tr>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Numero de Matricula</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Sede</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Fecha </th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Cedula Estudiante</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Nombre Estudiante</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Codigo curso</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Nombre curso</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Cedula del Usuario</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Nombre Usuario</th>
                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1">Usuario</th>

                    <th class="sorting" tabindex="0" aria-controls="TASK_LIST_GRID" rowspan="1" colspan="1"></th>


                </tr>

            </thead>
            <tbody>
            </tbody>


        </table>

    </div>













@section scripts{
    <script>

        var tabladata;
        var filaseleccionada;

     $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("Listarusuarioxmatricula", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                console.log(data)
            }
        })
    });

        tabladata = $("#TablaUsuario").DataTable({

            Responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("Listarusuarioxmatricula", "Home")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "MA_Transac" },
                { "data": "MA_SEDE" },
                { "data": "MA_Fecha" },
                { "data": "MA_CedulaES" },
                { "data": "ES_Nombre" },
                { "data": "MA_CodCurso" },
                { "data": "CU_Nombre" },
                { "data": "MA_USCedula" },
                { "data": "US_Nombre" },
                { "data": "US_Usuario" },
                
                
                {
                    "defaultContent": "",
                    "Orderable": false,
                    "Searchable": false,
                    "width":"90px"

                }
                @*Para hacer botonoes min 22 VID 07*@



            ],
            "language": { "url":"//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json" }



        });











// ID USUARIO MIN 10 VIDEO 09
    </script>
}